<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css"></link>
        <link href="/css/mobile.css" media="handheld, only screen and (max-device-width: 960px)" rel="stylesheet" type="text/css"></link>
        <link href="/css/pygments.css" media="screen" rel="stylesheet" type="text/css"></link>
        <link href="/css/fonts.css" rel="stylesheet">
        <link href="http://feeds.feedburner.com/github/FETh"
        type="application/atom+xml" rel="alternate" title="情书.feed" />

        {% include twittercard.html %}

        <title>{{page.title}} </title>
    </head>
    
    <body>
        {% unless page.nomenu %}
        <div class="menu">
            <h1> {{ site.title }}</h1>
            <em> by {{ site.author_name }}</em>
            
            <ul class="nobullet pagelinks">
                <li class="menulinks"><a href="/">writing</a></li>
                <li class="menulinks"><a href="/technology.html">technology</a></li>
                <li class="menulinks"><a href="/notes.html">notes</a></li>
                <li class="menulinks"><a href="/summary.html">summary</a></li>
                <li class="menulinks"><a href="/blogroll.html">links</a></li>
                <li class="menulinks"><a href="/diary.html">diary</a></li>
                <li class="menulinks"><a href="/photoes.html">photoes</a></li>
                <li class="menulinks"><a href="/about.html">about</a></li>
            </ul>
            
            <hr class="hidemobile">
            
            <ul class="nobullet linkicons">
              <li><a href="http://feeds.feedburner.com/github/FETh"><i class="icon-rss"> </i></a></li>
              <li><a href="https://github.com/muyun"><i class="icon-github-sign"> </i></a></li>
              <li><a href="https://twitter.com/_muyun"><i class="icon-twitter"> </i></a></li>
              <li><a href="http://instagram.com/muyun_/"><i class="icon-instagram"> </i></a></li>
              <!--
              <li><a href="http://www.weibo.com/2126155907/profile?topnav=1&wvr=6"><i class="icon-weibo"> </i></a></li>
              -->
 
            </ul>
        </div>
        {% endunless %}
        <div id="wrapper">
            <div id="content">
                {{ content }}
            </div>
        </div>
        {% include gauges.html %}
    </body>
</html>
