<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <!--
        <meta name="viewport" content="width=device-width, intial-scale=1">
        -->
        <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css"></link>
        <link href="/css/mobile.css" media="handheld, only screen and (max-device-width: 960px)" rel="stylesheet" type="text/css"></link>
        <link href="/css/pygments.css" media="screen" rel="stylesheet" type="text/css"></link>
        <link href="/css/fonts.css" rel="stylesheet">
        <!--
        <link href="http://feeds.feedburner.com/github/FETh"
        type="application/atom+xml" rel="alternate" title="情書.feed" />

        {% include twittercard.html %}
        -->

        <title>{{page.title}} </title>
    </head>
    
    <body>
        {% unless page.nomenu %}
        <div class="menu">
            <h1> {{ site.title }}</h1>
            <em> by {{ site.author_name }}</em>
            
            <ul class="nobullet pagelinks">
                <li class="menulinks"><a href="/">notes</a></li>
                <li class="menulinks"><a href="/writing.html">writing</a></li>  
                <li class="menulinks"><a href="/research.html">research</a></li>
                <li class="menulinks"><a href="/learning.html">learning</a></li>
                <!--
                <li class="menulinks"><a href="/languages.html">linguistics</a></li>           
                <li class="menulinks"><a href="/technology.html">technology</a></li>            
                <li class="menulinks"><a href="/summary.html">summary</a></li>
                -->
                <!-- 
                <li class="menulinks"><a href="/language.html">languagelearning</a></li>      
                <li class="menulinks"><a href="/notes.html">notes</a></li>
                <li class="menulinks"><a href="/yourstory.html">说说你的故事</a></li>
                <li class="menulinks"><a href="/virtualart.html">virtual art</a></li>
                 
                <li class="menulinks"><a href="/blogroll.html">links</a></li>
                -->
                <li class="menulinks"><a href="/about.html">about</a></li>
            </ul>
            
            <hr class="hidemobile">
            
            <ul class="nobullet linkicons">
              <!--
              <li><a href="https://pinboard.in/search/u:muyun_?query=toread|insight|todo"><i class="ig-b- ig-b-16"><img src="/fonts/bluepin.gif"></i></a></li>
              --> 
               
              <li><a href="https://github.com/muyun"><i class="icon-github-sign" height="20" width="20"> </i></a></li>
              <li><a href="http://instagram.com/muyun_?ref=badge"><i class="ig-b- ig-b-16"><img src="//badges.instagram.com/static/images/ig-badge-16.png" alt="Instagram" height="20" width="20" ></i></a></li>

              <li><a href="https://news.ycombinator.com/favorites?id=muyun_"><i class="ig-b- ig-b-16"><img src="/fonts/ycombinator-logo.png" height="20" width="20"></i></a></li> 
              <!--
              <li><a href="https://twitter.com/_muyun"><i class="icon-twitter"> </i></a></li>
              -->
              <!--
              <li><a href="/feed.xml"><i class="icon-rss"></i></a></li>
              -->   
              
              
 
            </ul>
        </div>
        {% endunless %}
        <div id="wrapper">
            <div id="content">
                {{ content }}
            </div>
        </div>
        
    </body>
</html>
